.welcome-msg{
    font-size: 2.5em;
    background-color: rgb(161, 255, 140);
    padding: 10px;
    border-radius: 5px;
    margin: 0px 0px 10px 0px;
}

.login-prompt{
    font-size: 2.5em;
    background-color: rgb(255, 126, 66);
    padding: 10px;
    border-radius: 5px;
    margin: 0px 0px 10px 0px;
}