.centered-card{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px 0;
    gap: 20px;
}

.card{
  background-color: rgb(227, 227, 227);
  border: 1px solid hsl(0, 0%, 80%);
  border-radius: 10px;
  box-shadow: 5px 5px 5px hsla(0, 0%, 0%, 0.1);
  padding: 20px;
  margin: 10px;
  text-align: center;
  max-width: 250px;
  display: inline-block;
}

.card .card-img{
  max-width: 60%;
  height: auto;
  border-radius: 50%;
  margin-bottom: 10px;
}

.card .card-title{
  font-family: 'Consolas', monospace;
  font-variant-numeric: slashed-zero;
  margin: 0;
  color: hsl(0, 0%, 20%)
}

.card .card-text{
  font-family: Arial, Helvetica, sans-serif;
  color: hsl(0, 0%, 30%)
}

.card .card-text a{
  text-decoration: none;
  font-weight: bold;
  transition: color 0.2s ease-in-out;
}

.card-text a:hover {
    color: #2c3e50;
}